html, body {
    height: 100vh;
    margin: 0 auto;
    padding-top: 00px;
}

.content {
    width: 640px;
}

.status {
    width: 250px;
}

.header-text {
    font-size: 2em;
    color: #CED4DA;
}

.header-icon > path {
    fill: #CED4DA;
}

.chart-height {
    height: calc(100vh - 250px);
    overflow: scroll;
}

.blink {
    animation: blinker 1s infinite;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1.0;
    }
}